<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú de Administrador</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/js/logo.js}"></script>
    <script th:src="@{/js/adminsmenu.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <img id="logo" class="logo" src="" alt="Logotipo">

        <div style="text-align: center;">
            <h1>Multiaplicación Grupo Lapuente</h1>
            <h3>Menú de Administrador</h3>
        </div>

        <!-- Opciones de usuario -->
        <div class="dropdown">
            <button class="dropbtn" th:text="${#httpServletRequest.userPrincipal?.name ?: 'Invitado'}">Opciones de usuario</button>
            <div class="dropdown-content">
                <a th:href="@{/admin/{sociedadId}/cambiar-contrasena(sociedadId=${session.sociedadId})}">Cambiar Contraseña</a>
                <a href="/logout">Salir</a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="tablon-anuncios">
        <h3>Mensajes Circulares Activos</h3>
        <ul>
            <li th:each="mensaje : ${mensajes}">
                <h3 th:text="${mensaje.asunto}">Asunto</h3>
                <p th:text="${mensaje.contenido}">Contenido</p>
            </li>
        </ul>
    </div>
    <h2>Opciones de Administrador</h2>
    <div class="button-container">
        <ul>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/workers(sociedadId=${session.sociedadId})}">Trabajadores</a></li>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/ubicaciones(sociedadId=${session.sociedadId})}">Ubicaciones y Tareas</a></li>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/informes/diario/request(sociedadId=${session.sociedadId})}">Informe Diario</a></li>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/informes/informeCuestionario(sociedadId=${session.sociedadId})}">Informe de Cuestionarios</a>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/edit-questions(sociedadId=${session.sociedadId})}">Editar Cuestionario</a></li>
            <li><a class="menu-button" href="#" onclick="showUnderDevelopmentAlert();">Cambiar Sociedad</a></li>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/tablonanuncios(sociedadId=${session.sociedadId})}">Mensajes</a></li>
        </ul>
    </div>
    <a href="/logout" class="button">Salir</a>
</main>
</body>
</html>
