<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Asignar Tareas a Ubicaciones</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <div style="display: flex; justify-content: space-between; width: 100%;">
    <img id="logo" class="logo" src="" alt="Logotipo">

    <div style="text-align: center;">
  <h1>Asignar Tareas a Ubicaciones</h1>
    </div>

    <!-- Opciones de usuario -->
    <div class="dropdown">
      <button class="dropbtn" th:text="${#httpServletRequest.userPrincipal?.name ?: 'Invitado'}">Opciones de usuario</button>
      <div class="dropdown-content">
        <a th:href="@{/admin/{sociedadId}/cambiar-contrasena(sociedadId=${session.sociedadId})}">Cambiar Contraseña</a>
        <a href="/logout">Salir</a>
      </div>
    </div>
  </div>
</header>
<main>
  <h2>Nueva tarea</h2>
  <form class="form-group asignartareas" th:action="@{/admin/{sociedadId}/ubicaciones/asignar(sociedadId=${session.sociedadId})}" method="post">
    <div class="input-fields">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" required></textarea>
    <br>
    </div>
    <div class="input-fields">
      <input type="hidden" name="ubicacionId" th:value="${ubicacionId}">
      <input type="hidden" name="tareaId" value="0">
    </div>
    <button type="submit" class="button create-task-button">Crear y asignar tarea</button> <!-- Añade la clase 'create-task-button' -->
  </form>
  <h2>Seleccione tarea existente</h2>
  <form th:action="@{/admin/{sociedadId}/ubicaciones/asignar(sociedadId=${session.sociedadId})}" method="post">
    <select name="tareaId" required>
      <option value="" disabled selected>Seleccione una tarea</option>
      <th:block th:each="tarea : ${tareas}">
        <option th:value="${tarea.id}" th:text="${tarea.name}"></option>
      </th:block>
    </select>
    <input type="hidden" name="ubicacionId" th:value="${ubicacionId}">
    <button type="submit" class="button">Asignar tarea existente</button>
  </form>
  <div class="button-group">
    <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>
  </div>
</main>
</body>
</html>
