<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cambio de Sociedad</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <img id="logo" class="logo" src="" alt="Logotipo">

        <div style="text-align: center;">
    <h1>Cambio de Sociedad</h1>
    <h4>Selecciona la sociedad a gestionar</h4>
    </div>

        <!-- Opciones de usuario -->
        <div class="dropdown">
            <button class="dropbtn" th:text="${#httpServletRequest.userPrincipal?.name ?: 'Invitado'}">Opciones de usuario</button>
            <div class="dropdown-content">
                <a th:href="@{/admin/{sociedadId}/cambiar-contrasena(sociedadId=${session.sociedadId})}">Cambiar Contraseña</a>
                <a href="/logout">Salir</a>
            </div>
        </div>
    </div>
</header>
<main>
    <form th:action="@{/admin/{sociedadId}/cambiar-sociedad(sociedadId=${session.sociedadId})}" method="post">
        <label for="sociedadId">Sociedad a gestionar:</label>
        <select id="sociedadId" name="sociedadId" th:value="${session.sociedadId}">
            <option th:each="sociedad : ${sociedades}"
                    th:value="${sociedad.id}"
                    th:text="${sociedad.name}"
                    th:selected="${session.sociedadId == sociedad.id}">
            </option>
        </select>
        <button type="submit">Cambiar Sociedad</button>
    </form>
</main>
<div class="button-group">
    <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>
</div>
</body>
</html>
