<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Informe Diario</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <div style="display: flex; justify-content: space-between; width: 100%;">
    <img id="logo" class="logo" src="" alt="Logotipo">

    <div style="text-align: center;">
  <h1>Informe Diario</h1>
    </div>

    <!-- Opciones de usuario -->
    <div class="dropdown">
      <button class="dropbtn" th:text="${#httpServletRequest.userPrincipal?.name ?: 'Invitado'}">Opciones de usuario</button>
      <div class="dropdown-content">
        <a th:href="@{/admin/{sociedadId}/cambiar-contrasena(sociedadId=${session.sociedadId})}">Cambiar Contraseña</a>
        <a href="/logout">Salir</a>
      </div>
    </div>
  </div>
</header>
<main>
  <h2>Selecciona la fecha del informe</h2>
  <form th:action="@{/admin/{sociedadId}/informes/diario(sociedadId=${session.sociedadId})}" method="post">
    <div class="input-container">
      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha" name="fecha" th:value="${#dates.format(#dates.createToday(), 'yyyy-MM-dd')}" required>
    </div>
    <br>
    <button type="submit" class="button button-primary">Generar informe</button>
  </form>
  <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>
</main>
</body>
</html>
