<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Informe Diario</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <style>
        .table-container {
            margin-bottom: 1rem;
        }

        .button-container {
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 3px;
        }

        .button {
            font-size: calc(1rem - 1pt);
            padding: calc(0.5rem - 1px) calc(1rem - 1px);
            margin: 0 3px;
        }
    </style>
  <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <h1>Informe Diario</h1>
  <h2 th:text="'Fecha: ' + ${fecha}"></h2>
  <img id="logo" class="logo" src="" alt="Logotipo">

</header>
<main>
  <br>
  <div class="button-container">
    <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>
    <button class="button" th:data-fecha="${fechaString}" onclick="exportarInformeExcel(this)">Exportar Informe en Excel</button>
  </div>
  <th:block th:each="ubicacion : ${ubicaciones}">
    <div class="table-container">
      <h2 th:text="${ubicacion.name}"></h2>
      <h3>Turno Mañana</h3>
      <table>
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Hecha</th>
          <th>Trabajador</th>
          <th>Comentario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tareaCumplida : ${tareasCumplidasMananaMap[ubicacion.id]}">
          <td th:text="${tareaCumplida.tarea.name}"></td>
          <td th:text="${tareaCumplida.tarea.descripcion}"></td>
          <td th:text="${tareaCumplida.cumplida ? 'SI' : 'NO'}"></td>
          <td th:text="${tareaCumplida.cumplida ? tareaCumplida.worker.name : ''}"></td>
          <td th:text="${tareaCumplida.comentario}"></td>
        </tr>
        </tbody>
      </table>
      <h3>Turno Tarde</h3>
      <table>
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Hecha</th>
          <th>Trabajador</th>
          <th>Comentario</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tareaCumplida : ${tareasCumplidasTardeMap[ubicacion.id]}">
          <td th:text="${tareaCumplida.tarea.name}"></td>
          <td th:text="${tareaCumplida.tarea.descripcion}"></td>
          <td th:text="${tareaCumplida.cumplida ? 'SI' : 'NO'}"></td>
          <td th:text="${tareaCumplida.cumplida ? tareaCumplida.worker.name : ''}"></td>
          <td th:text="${tareaCumplida.comentario}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </th:block>
</main>
<div class="button-container">
  <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>
  <button class="button" th:data-fecha="${fechaString}" onclick="exportarInformeExcel(this)">Exportar Informe en Excel</button>
</div>
<footer>
  <p>Generado por Sistema de Informes Diarios</p>
</footer>
<script>
function exportarInformeExcel(button) {
    const fecha = button.getAttribute('data-fecha');

    const form = document.createElement('form');
    form.method = 'POST';
    form.action = '/admin/{sociedadId}/informes/diario/export';
    form.innerHTML = `<input type="hidden" name="fecha" value="${fecha}">`;
    document.body.appendChild(form);
    form.submit();
}
</script>
</body>
</html>