<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Informe Mensual</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Informe Mensual</h1>
<table>
  <thead>
  <tr>
    <th>Mes</th>
    <th>Total de Turnos</th>
    <th>Total de Trabajadores</th>
    <th>Total de Ubicaciones</th>
    <th>Total de Tareas</th>
    <th>Tareas Cumplidas</th>
    <th>Porcentaje de Cumplimiento</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="informeMensual : ${informesMensuales}">
    <td th:text="${informeMensual.mes}"></td>
    <td th:text="${informeMensual.totalTurnos}"></td>
    <td th:text="${informeMensual.totalTrabajadores}"></td>
    <td th:text="${informeMensual.totalUbicaciones}"></td>
    <td th:text="${informeMensual.totalTareas}"></td>
    <td th:text="${informeMensual.tareasCumplidas}"></td>
    <td th:text="${informeMensual.porcentajeCumplimiento}"></td>
  </tr>
  </tbody>
</table>
<!-- Aquí puedes agregar otros elementos que necesites -->

</body>
</html>