<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú de Administrador</title>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:if="${loginSuccess}">
    <p style="color: green;">¡Inicio de sesión exitoso! Redirigiendo...</p>
    <script>
        setTimeout(function() {
            document.querySelector('.login-success-message').style.display = 'none';
        }, 2000); // 2000 milisegundos (2 segundos) de espera antes de ocultar el mensaje
    </script>
</div>
<header>
    <h1>Tareas y Ubicaciones</h1>
    <p>Menú de Administrador</p>
</header>
<main>
    <h2>Opciones de Administrador</h2>
    <div class="button-container">
        <ul>
            <li><a href="/admin/workers">Ver Trabajadores</a></li>
            <li><a href="/admin/ubicaciones">Ver Ubicaciones</a></li>
            <li><a href="/admin/tareas">Ver Tareas</a></li>
            <li><a href="/admin/asignar-tareas">Asignar Tareas a Ubicaciones</a></li>
            <li><a href="/admin/crear-trabajador">Crear Trabajador</a></li>
            <li><a href="/admin/crear-ubicacion">Crear Ubicación</a></li>
            <li><a href="/admin/crear-tarea">Crear Tarea</a></li>
            <li><a href="/admin/informes/diario">Informe Diario</a></li> <!-- Nueva ruta para la página de informe diario -->
            <li><a href="/admin/informes/turno-ubicacion">Informe Turno y Ubicación</a></li> <!-- Nueva ruta para la página de informe por turno y ubicación -->
            <li><a href="/admin/informes/mensual">Informe Mensual</a></li> <!-- Nueva ruta para la página de informe mensual -->
        </ul>
    </div>
    <a href="/" class="button">Volver al Inicio</a>
</main>
</body>
</html>
