<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Trabajador</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Crear Trabajador</h1>
</header>
<main>
    <form th:action="@{/admin/crear-trabajador}" th:object="${workerDTO}" method="post">
        <label for="name">Nombre:</label>
        <input type="text" th:field="*{name}" id="name" required>

        <label for="password">Contraseña:</label>
        <input type="password" th:field="*{password}" id="password" required>

        <label for="cargo">Cargo:</label>
        <input type="text" th:field="*{cargo}" id="cargo" required>

        <button type="submit">Crear Trabajador</button>
    </form>
</main>
<a href="/admin/adminsmenu" class="button">Volver al Menú de Administrador</a>

</body>
</html>
