<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tareas y Ubicaciones</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<header>
    <h1>Tareas y Ubicaciones</h1>
    <p>Esta es una aplicación básica para gestionar tareas y ubicaciones.</p>
</header>
<main>
    <h2>Bienvenido a Tareas y Ubicaciones</h2>
    <p>Esta es una aplicación para gestionar tareas y ubicaciones. Puede utilizarla para agregar, editar y eliminar tareas, ubicaciones y trabajadores.</p>

    <form accept-charset="UTF-8" th:action="@{/login}" method="post">
        <div>
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required autofocus>
        </div>
        <div>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <button type="submit">Iniciar sesión</button>
        </div>
    </form>

    <div id="loginSuccess" style="display: none; color: green;">
        ¡Inicio de sesión exitoso! Redirigiendo...
    </div>
    <div th:if="${loginError}">
        <p style="color: red;">Error en el inicio de sesión. Por favor, intenta nuevamente.</p>
    </div>
    <script>
    // Si el inicio de sesión fue exitoso, muestra el mensaje y redirige después de un retraso.
    (function() {
        const loginSuccess = [[${loginSuccess}]];
        if (loginSuccess) {
            document.getElementById('loginSuccess').style.display = 'block';
            setTimeout(function() {
                window.location.href = "/workersmenu";
            }, 3000); // 3000 milisegundos (3 segundos) de retraso antes de la redirección
        }
    })();
</script>
</main>
</body>
</html>
