<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Menú de Trabajadores</title>
  <link rel="stylesheet" href="workersmenu.css">
</head>
<body>
<header>
  <h1>Tareas y Ubicaciones</h1>
  <p>Menú de Trabajadores</p>
</header>
<main>
  <h2>¿Que quieres hacer?</h2>
  <ul>
    <li><a href="/worker/ubicaciones">Ver Ubicaciones</a></li>
    <li><a href="/worker/password">Cambiar Contraseña</a></li>
  </ul>
  <a href="/" class="button">Volver al Inicio</a>
</main>
</body>
</html>
