<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Menú de Trabajadores</title>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:if="${loginSuccess}">
  <p style="color: green;">¡Inicio de sesión exitoso! Redirigiendo...</p>
  <script>
        setTimeout(function() {
            document.querySelector('.login-success-message').style.display = 'none';
        }, 2000); // 2000 milisegundos (2 segundos) de espera antes de ocultar el mensaje
    </script>
</div>
<header>
  <h1>Tareas y Ubicaciones</h1>
  <p>Menú de Trabajadores</p>
</header>
<main>
  <h2>Opciones de Trabajador</h2>
  <button class="button button-primary" onclick="location.href='/worker/ubicaciones'">Ver Ubicaciones</button>
  <ul>
    <li><a href="/worker/password">Cambiar Contraseña</a></li>
  </ul>
  <a href="/" class="button">Volver al Inicio</a>
</main>
</body>
</html>
