<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Elegir Turno</title>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body>
<header>
  <h1>Tareas y Ubicaciones</h1>
  <p>Elegir Turno</p>
</header>
<main>
  <h2>¿En qué turno has trabajado?</h2>
  <form th:action="@{'/worker/ubicaciones/' + ${ubicacionId} + '/tareas'}" method="get">
    <input type="hidden" name="ubicacionId" th:value="${ubicacionId}" />
    <div>
      <label for="turno">Turno:</label>
      <select name="turno" id="turno" class="large-select">
        <option value="MANANA">Mañana</option>
        <option value="TARDE">Tarde</option>
      </select>
    </div>
    <button type="submit" class="button button-primary">Continuar</button>
  </form>
  <a href="/worker/ubicaciones" class="button">Cancelar</a>
  <a href="/worker/workersmenu" class="button">Volver al Menú</a>
</main>
</body>
</html>
