<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tareas y Ubicaciones</title>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
  <script>
    function showSavingMessage() {
      document.getElementById('saving-message').style.display = 'block';
      setTimeout(function() {
        document.getElementById('save-tasks-form').submit();
      }, 1000);
    }
  </script>
</head>
<body>
<header>
  <h1>Tareas y Ubicaciones</h1>
  <h4 style="text-align: center;">Ubicación: <span th:text="${ubicacion.name}"></span></h4>
  <h3 style="text-align: center;">Fecha: <span th:text="${#temporals.format(fechaActual, 'dd-MM-yyyy')}"></span></h3>
  <h3 style="text-align: center; font-size: 2rem;">Turno: <span th:text="${turno}"></span></h3>
</header>
<main>
  <form th:action="@{'/worker/ubicaciones/' + ${ubicacionId} + '/tareas/informar'}" method="post" id="save-tasks-form">
    <input type="hidden" name="ubicacionId" th:value="${ubicacionId}" />
    <input type="hidden" name="turno" th:value="${turno}" />
    <table>
      <thead>
      <tr>
        <th>Tarea</th>
        <th>Realizada</th>
        <th>Trabajador</th>
      </tr>
      </thead>
      ...
      <tbody>
      <tr th:each="tarea : ${tareaTareaCumplidaMap.keySet()}">
        <td th:text="${tarea.name}"></td>
        <td>
          <input type="checkbox" name="tareaId" th:value="${tarea.id}" th:checked="${tareaTareaCumplidaMap[tarea] != null}" th:disabled="${tareaTareaCumplidaMap[tarea] != null}" />
        </td>
        <td th:text="${tareaTareaCumplidaMap[tarea]?.worker?.name ?: ''}"></td>
      </tr>
      </tbody>
      ...

    </table>
    <div>
      <label for="comentario">Comentario:</label>
      <textarea id="comentario" name="comentario" rows="4" cols="50" th:text="${comentario != null ? comentario : ''}"></textarea>
    </div>
    <button type="button" class="button button-primary" onclick="showSavingMessage()">Guardar</button>
    <p id="saving-message" style="display: none; text-align: center;">Guardando...</p>
    <a href="/worker/ubicaciones" class="button">Cancelar</a>
    <a href="/worker/workersmenu" class="button">Volver al Menú</a>
  </form>
</main>
</body>
</html>