/* Estilos globales */
body {
    background-color: #F8F8F8;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

/* Estilos para el encabezado */
header {
    background-color: #00416A;
    color: white;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: #CF0A2C;
}

/* Estilos para el contenido principal */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F8F8F8;
    border: 1px solid #00416A;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    text-align: center;
}

main h2 {
    font-size: 28px;
    margin-top: 0;
    color: #00416A;
}

main p {
    color: #333;
}

main ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main li {
    margin-bottom: 15px;
    width: 45%;
}

main a, .button {
    display: inline-block;
    background-color: #00416A;
    color: white;
    padding: 12px 18px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

main a:hover {
    background-color: #005385;
}

.button {
    background-color: #00619F;
    border: 1px solid #00619F;
    font-size: 16px;
    cursor: pointer;
}

.button-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}



input[type="text"], textarea, .large-select {
    font-size: 20px;
    padding: 0.5rem;
}

.logo {
    top: 10px;
    left: 10px;
    max-height: 120px; /* Cambiar max-width a max-height */
    width: auto; /* Asegurarse de que la width se ajuste automáticamente */

    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}


/* Estilos para la página de error */
.error-page {
    background-color: #00416A;
}

/* Estilos para el contenedor de error */
.error-container {
    max-width: 800px;
    margin: 0 auto;
    padding:20px;
    background-color: #FFFFFF;
    border: 1px solid #00416A;
     box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    text-align: center;
    }

.container-return {
                        justify-content: center;
                        align-items: center;
                        margin: 20px;
                        text-align: center;
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

.container {
                        display: flex;
                        align-items: center;
                    }

h1, h2, h3, h4, h5, h6 {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

.button-small {
                        font-size: 16px;
                        padding: 8px 12px;
                    }

.menu-button {
                        width: 100%;
                        text-align: center;
                        box-sizing: border-box;
                        min-width: 220px;
                        max-width: 300px;
                    }

/* Estilos para los formularios y campos de texto */
.form-group {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;
}

.form-group.asignartareas {
  display: flex;
  flex-direction: column; /* Cambiar a 'column' para mostrar los elementos en líneas separadas */
  align-items: flex-start; /* Alinear los elementos a la izquierda */
  margin-bottom: 20px;
}

.form-group.asignartareas textarea[name=descripcion] {
  width: 500px; /* ajusta la anchura deseada */
  font-size: 15px;
}
/* Agregar estilos para los nuevos contenedores */
.form-group.asignartareas .input-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-group.asignartareas .submit-button {
  margin-top: 20px;
  display: flex; /* Añadir 'display: flex' para habilitar la alineación del botón */
  justify-content: center; /* Centrar el botón horizontalmente */
}
.form-group.asignartareas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.create-task-button {
  margin-bottom: 40px;
  align-self: center;
}

label {
                        width: 30%;
                        text-align: right;
                        margin-right: 10px;
}

input[type="text"], input[type="password"] {
                        width: 60%;
                        padding: 8px;
                        font-size: 16px;
                        border: 1px solid #cccccc;
                        border-radius: 4px;
                        box-sizing: border-box;
}

button[type="submit"] {
                        font-size: 16px;
                        padding: 8px 12px;
                        background-color: #00619F;
                        color: #FFFFFF;
                        border: 1px solid #00619F;
                        border-radius: 5px;
                        cursor: pointer;
                        text-decoration: none;
                        transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
                        background-color: #005385;
                        color: #FFFFFF;
}

/* Estilos específicos para el campo de descripción */
input#descripcion {
                        height: 60px;
                        resize: vertical;
}

/* Centrar botones en el medio */
.button-group {
                        text-align: center;
}

.button-group button,
.button-group a.button {
                        display: inline-block;
}

table td {
    font-size: 14px;
}

select {
    width: 60%;  /* Ajusta a la mitad de la longitud original */
    height: 1.5em;  /* Aumenta la altura */
    font-size: 1em;  /* Aumenta el tamaño de la fuente */
    box-sizing: border-box;
}
.dropdown {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn {
  background-color: #CF0A2C;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
    color: black; /* Color del texto a negro cuando se pasa el ratón */
}

.worker-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 60%;
  margin: auto;
}

.worker-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quiz-slide {
    text-align: center;
    padding: 20px;
    background-size: contain; /* Cambia a cover para que la imagen cubra todo el espacio disponible */
    background-position: center top; /* Ajusta la imagen al centro y arriba */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Alinea el contenido en columna para que la pregunta esté arriba y el fondo detrás */
}

.quiz-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Fondo blanco con 50% de transparencia para suavizar el fondo */
    z-index: 0; /* Asegúrate de que el fondo esté detrás del contenido */
}

.question-background {
    position: relative;
    z-index: 2; /* Mantiene el texto y los botones encima del efecto de fondo */
    background: rgba(255, 255, 255, 0.6);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px; /* Ajusta este valor según necesidades */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto;
}

.alert-container {
    text-align: center;
    margin-top: 50px;
}

.alert-image {
    max-width: 100%;
    height: auto;
}

.answers {
    display: flex;
    justify-content: center; /* Centra los checkboxes horizontalmente */
    gap: 20px; /* Espacio entre los checkboxes */
    margin-top: 20px; /* Espacio entre la pregunta y los checkboxes */
}

.quiz-answer {
    font-size: 20px; /* Tamaño de la fuente de las respuestas */
    display: flex;
    align-items: center; /* Alinea verticalmente el texto con el checkbox */
}

.quiz-answer input[type="radio"] {
    margin: 0px 10px 0px 50px; /* Espaciado alrededor del checkbox, ajusta según necesites */
    cursor: pointer;
    transform: scale(1.5); /* Aumenta el tamaño del checkbox */
}

/* Añadir al final de tu archivo CSS existente */

.alert-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco con 80% de transparencia */
    padding: 40px;
    border-radius: 10px;
    position: relative; /* Necesario para el posicionamiento del background */
    max-width: 600px; /* Limita el ancho del contenedor */
    margin: 50px auto; /* Centra el contenedor */
}

.alert-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/alertImage1.png'); /* Ajusta la ruta según sea necesario */
    background-size: 50% auto; /* Hace que la imagen sea la mitad de grande */
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6; /* 80% de transparencia */
    z-index: -1; /* Coloca el background detrás del texto */
}

.alert-message {
    font-size: 28px;
    margin-bottom: 20px; /* Espacio entre el mensaje y el botón */
}

.alert-back-button {
    font-size: 20px;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
.question-form-group {
    margin-bottom: 30px;
    text-align: left;
}

.question-label {
    font-weight: bold; /* Hace el texto en negrita */
    display: block; /* Asegura que la etiqueta esté encima del input */
    margin-bottom: 5px;
}

.question-input {
    width: 100%;
    height: 3em; /* Dos líneas de altura */
    margin-bottom: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en la altura */
    resize: none; /* Evita que el usuario cambie el tamaño */
}

.current-text {
    font-size: 0.9em;
    color: #666;
    padding-left: 10px;
    margin-bottom: 20px;
}

/* Estilos para los botones para mantener la coherencia */
.button-save, .button-back {
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    margin: 5px; /* Espacio ligero alrededor de los botones para separación */
    display: inline-block; /* Asegura que los botones se muestren en línea */
    background-color: #00619F;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #005385;
}

.button-save:hover,
.button-back:hover {
    background-color: #005385; /* Cambio de color al pasar el ratón */
}