<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
  <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
</head>
<body class="error-page">
<main>
  <div class="error-container">
    <h1>Se produjo un error</h1>
    <p>Lo sentimos, se produjo un error al procesar su solicitud. Por favor, inténtelo de nuevo.</p>
    <div class="error-message">
      <p>Error: <span th:text="${status} ?: '-'">-</span></p>
      <p>Mensaje: <span th:text="${error} ?: '-'">-</span></p>
      <p>Causa: <span th:text="${message} ?: '-'">-</span></p>
    </div>
    <button class="button" onclick="window.history.back()">Volver Atrás</button>
  </div>
</main>
</body>
</html>
