<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Elegir Turno</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <div style="display: flex; justify-content: space-between; width: 100%;">
    <img id="logo" class="logo" src="" alt="Logotipo">

    <div style="text-align: center;">
      <h1>Tareas y Ubicaciones</h1>
      <h3>Elegir Turno</h3>
    </div>

    <!-- Opciones de usuario -->
    <div class="dropdown">
      <button class="dropbtn" th:text="${#httpServletRequest.userPrincipal?.name ?: 'Invitado'}">Opciones de usuario</button>
      <div class="dropdown-content">
        <a href="/logout">Salir</a>
      </div>
    </div>
  </div>
</header>
<main>
  <h2>¿En qué turno has trabajado?</h2>
  <form th:action="@{'/worker/' + ${worker.sociedad.id} + '/ubicaciones/' + ${ubicacionId} + '/tareas'}" method="get">
    <input type="hidden" name="ubicacionId" th:value="${ubicacionId}" />
    <div>
      <label for="turno">Turno:</label>
      <select name="turno" id="turno" class="select">
        <option value="MANANA">Mañana</option>
        <option value="TARDE">Tarde</option>
      </select>
    </div>
    <br>
    <h2>¿Quiénes han trabajado en este turno?</h2>
    <h4>(incluyendote a ti mismo)</h4>
    <div class="worker-list">
      <div th:each="worker : ${allWorkers}" class="worker-item">
        <input type="checkbox" name="workers" th:value="${worker.name}">
        <span th:text="${worker.name}"></span>
      </div>
    </div>
    <br>
    <button type="submit" class="button button-primary">Continuar</button>
  </form>
  <a href="/worker/{sociedadId}/ubicaciones" th:href="@{/worker/{sociedadId}/ubicaciones(sociedadId=${worker.sociedad.id})}" class="button">Cancelar</a>
  <a href="/worker/{sociedadId}/workersmenu" th:href="@{/worker/{sociedadId}/workersmenu(sociedadId=${worker.sociedad.id})}" class="button">Volver al Menú de Trabajadores</a>
</main>
<script>
  document.querySelector('form').addEventListener('submit', function(event) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    var checked = Array.from(checkboxes).some(checkbox => checkbox.checked);
    if (!checked) {
      alert('Es necesario que selecciones un trabajador para continuar');
      event.preventDefault();
    }
  });
</script>
</body>
</html>
