<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tareas y Ubicaciones</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
    <h1 th:text="${ubicacion.name}">Nombre de la ubicación</h1>
    <h3 th:text="${#dates.format(#dates.createToday(), 'dd/MM/yyyy')}">Fecha actual</h3>
    <h3 th:text="${turnoInformado}">Turno informado</h3>
    <img id="logo" class="logo" src="" alt="Logotipo">
</header>
<main>
    <h2>Tareas Pendientes</h2>
    <form th:action="@{'/worker/' + ${worker.sociedad.id} + '/ubicaciones/' + ${ubicacionId} + '/tareas'}" th:object="${tareaCumplidaListWrapper}" method="post">
        <input type="hidden" name="turno" th:value="${turnoInformado}" />
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Informar</th>
                <th>Comentario</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tareaCumplida : ${tareasCumplidasNo}">
                <td th:text="${tareaCumplida.tarea.name}"></td>
                <td th:text="${tareaCumplida.tarea.descripcion}"></td>
                <td><input type="checkbox" th:field="*{tareasCumplidas[__${tareaCumplidaStat.index}__].cumplida}"></td>
                <td><input type="text" th:field="*{tareasCumplidas[__${tareaCumplidaStat.index}__].comentario}"></td>
                <input type="hidden" th:field="*{tareasCumplidas[__${tareaCumplidaStat.index}__].id}" />
            </tr>
            </tbody>
        </table>
        <button type="submit" class="button button-primary">Guardar cambios</button>
    </form>

    <h2>Tareas Cumplidas</h2>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Cumplida</th>
            <th>Trabajador</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tareaCumplida : ${tareasCumplidasSi}">
            <td th:text="${tareaCumplida.tarea.name}"></td>
            <td>Sí</td>
            <td th:text="${tareaCumplida.worker.name}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/worker/{sociedadId}/ubicaciones" th:href="@{/worker/{sociedadId}/ubicaciones(sociedadId=${session.sociedadId})}" class="button">Cancelar</a>
    <a href="/worker/{sociedadId}/workersmenu" th:href="@{/worker/{sociedadId}/workersmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú</a>
</main>
</body>
</html>

