<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Menú de Trabajadores</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <script th:src="@{/js/logo.js}"></script>
  <!-- Incluimos el js del menú de administrador si lo necesitamos en el de trabajadores -->
  <script th:src="@{/js/adminsmenu.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <div style="display: flex; justify-content: space-between; width: 100%;">
    <img id="logo" class="logo" src="" alt="Logotipo">

    <div style="text-align: center;">
      <h1>Multiaplicación Grupo Lapuente</h1>
      <h3>Menú de Trabajadores</h3>
    </div>

    <!-- Opciones de usuario -->
    <div class="dropdown">
      <button class="dropbtn" th:text="${#httpServletRequest.userPrincipal?.name ?: 'Invitado'}">Opciones de usuario</button>
      <div class="dropdown-content">
        <a href="/logout">Salir</a>
      </div>
    </div>
  </div>
</header>
<main>
  <h2 style="text-align:center;">Opciones de Trabajador</h2>
  <a style="font-size:22px;" th:href="@{/worker/{sociedadId}/ubicaciones(sociedadId=${worker.sociedad.id})}" class="button">Ver Ubicaciones</a>
  <ul>
    <!-- <li><a style="font-size:18px;" th:href="@{/worker/{sociedadId}/password(sociedadId=${worker.sociedad.id})}" class="button button-small">Cambiar Contraseña</a></li> -->
  </ul>
  <a href="/logout" class="button">Salir</a>
</main>
</body>
</html>
