<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menú de Administrador</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/js/logo.js}"></script>
    <script th:src="@{/js/adminsmenu.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
    <h1>Tareas y Ubicaciones</h1>
    <h3>Menú de Administrador</h3>
    <img id="logo" class="logo" src="" alt="Logotipo">
</header>
<main>
    <h2>Opciones de Administrador</h2>
    <div class="button-container">
        <ul>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/workers(sociedadId=${session.sociedadId})}">Trabajadores</a></li>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/ubicaciones(sociedadId=${session.sociedadId})}">Ubicaciones y Tareas</a></li>
            <li><a class="menu-button" th:href="@{/admin/{sociedadId}/informes/diario/request(sociedadId=${session.sociedadId})}">Informe Diario</a></li>
            <li><a class="menu-button" href="#" onclick="showUnderDevelopmentAlert();">Informe Mensual</a></li>
            <li><a class="menu-button" href="#" onclick="showUnderDevelopmentAlert();">Informe Turno y Ubicación</a></li>
            <li><a class="menu-button" href="#" onclick="showUnderDevelopmentAlert();">Cambiar Sociedad</a></li>
        </ul>
    </div>
    <!-- ... -->

    <a href="/logout" class="button">Salir</a>
</main>
</body>
</html>
