<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Asignar Tareas a Ubicaciones</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <h1>Asignar Tareas a Ubicaciones</h1>
  <img id="logo" class="logo" src="" alt="Logotipo">
</header>
<main>
  <h2>Seleccione una Ubicación</h2>
  <form action="/admin/ubicaciones/{ubicacionId}/tareas" method="post">
    <select name="ubicacionId">
      <option value="" disabled selected>Seleccione una ubicación</option>
      <th:block th:each="ubicacion : ${ubicaciones}">
        <option th:value="${ubicacion.id}" th:text="${ubicacion.nombre}"></option>
      </th:block>
    </select>
    <h2>Seleccione las Tareas a Asignar</h2>
    <th:block th:each="tarea : ${tareas}">
      <label><input type="checkbox" name="tareasId" th:value="${tarea.id}" th:text="${tarea.nombre}"> ${tarea.nombre}</label><br>
    </th:block>
    <button type="submit" class="button">Asignar Tareas</button>
  </form>
  <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>
</main>
</body>
</html>
