<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Crear Ubicación</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <h1>Crear Ubicación</h1>
  <img id="logo" class="logo" src="" alt="Logotipo">
</header>
<main>
  <!-- Aquí puedes agregar un formulario para crear una nueva ubicación -->
</main>
<div class="button-group">
  <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>
</div>
</body>
</html>
