<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Tarea</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
    <h1>Crear Tarea</h1>
    <img id="logo" class="logo" src="" alt="Logotipo">
</header>
<main>
    <form th:action="@{/admin/tareas}" th:object="${tareaDTO}" method="post">
        <label for="name">Nombre:</label>
        <input type="text" th:field="*{name}" id="name" required>

        <label for="descripcion">Descripción:</label>
        <input type="text" th:field="*{descripcion}" id="descripcion" required>

        <button type="submit">Crear Tarea</button>
    </form>
</main>
<a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>

</body>
</html>