<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Ubicación</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/js/logo.js}"></script>
    <!-- No olvides agregar el bloque <style> del archivo editar-tarea.html aquí -->
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
    <h1>Editar Ubicación</h1>
    <img id="logo" class="logo" src="" alt="Logotipo">
</header>
<main>
    <form th:action="@{/admin/{sociedadId}/ubicaciones/{id}/update(sociedadId=${session.sociedadId}, id=${ubicacionDTO.id})}" th:object="${ubicacionDTO}" method="post">
        <div class="input-container">
            <label for="name"><strong>Nombre:</strong></label>
            <div>
                <input type="text" th:field="*{name}" id="name" required>
            </div>
        </div>

        <button type="submit">Actualizar Ubicación</button>
    </form>
</main>
<div class="button-group">
    <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>

</div>
</body>
</html>
