<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Ubicación</title>
    <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
    <script th:src="@{/js/logo.js}"></script>
    <!-- No olvides agregar el bloque <style> del archivo editar-tarea.html aquí -->
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
    <div style="display: flex; justify-content: space-between; width: 100%;">
        <img id="logo" class="logo" src="" alt="Logotipo">

        <div style="text-align: center;">
    <h1>Editar Ubicación</h1>
    </div>

    <!-- Opciones de usuario -->
    <div class="dropdown">
        <button class="dropbtn" th:text="${#httpServletRequest.userPrincipal?.name ?: 'Invitado'}">Opciones de usuario</button>
        <div class="dropdown-content">
            <a th:href="@{/admin/{sociedadId}/cambiar-contrasena(sociedadId=${session.sociedadId})}">Cambiar Contraseña</a>
            <a href="/logout">Salir</a>
        </div>
    </div>
    </div>
</header>
<main>
    <form th:action="@{/admin/{sociedadId}/ubicaciones/{id}/update(sociedadId=${session.sociedadId}, id=${ubicacionDTO.id})}" th:object="${ubicacionDTO}" method="post">
        <div class="input-container">
            <label for="name"><strong>Nombre:</strong></label>
            <div>
                <input type="text" th:field="*{name}" id="name" required>
            </div>
        </div>

        <button type="submit">Actualizar Ubicación</button>
    </form>
</main>
<div class="button-group">
    <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>

</div>
</body>
</html>
