<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ver Ubicaciones y Tareas</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <style>
    .button-container {
      display: flex;
      flex-direction: row;
      gap: 3px;
    }
    .button {
      font-size: calc(1rem - 1pt);
      padding: calc(0.5rem - 1px) calc(1rem - 1px);
      margin: 0 3px;
    }
    .table-container {
      margin-bottom: 1rem;
    }
  </style>
  <script th:src="@{/js/logo.js}"></script>
  <script>
  function confirmDelete(url) {
    if (confirm("¿Estás seguro de que deseas eliminar este elemento?")) {
      window.location.href = url;
    }
  }
</script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <h1>Ubicaciones y Tareas</h1>
  <img id="logo" class="logo" src="" alt="Logotipo">
</header>
<main>
  <th:block th:each="ubicacion : ${tareasAgrupadasPorUbicacion.entrySet()}">
    <div class="table-container">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2 th:text="${ubicacion.key.name}"></h2>
        <a th:href="@{/admin/{sociedadId}/ubicaciones/asignar(sociedadId=${session.sociedadId}, ubicacionId=${ubicacion.key.id})}" class="button">Asignar Tarea</a>
        <!-- <button class="button" th:onclick="'confirmDelete(\'/admin/' + ${session.sociedadId} + '/ubicaciones/' + ${ubicacion.key.id} + '/delete\')'">Eliminar Ubicación</button> -->
      </div>
      <table>
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tareaEntry : ${ubicacion.value}">
          <strong><td th:text="${tareaEntry.right.left}"></td></strong>
          <td th:text="${tareaEntry.right.right}"></td>
          <td>
            <div class="button-container">
              <a th:href="@{/admin/{sociedadId}/tareas/editar/{tareaId}(sociedadId=${session.sociedadId}, tareaId=${tareaEntry.left})}" class="button">Editar</a>
              <!-- <button class="button" th:onclick="'confirmDelete(\'/admin/' + ${session.sociedadId} + '/tareas/' + ${tareaEntry.left} + '/delete\')'">Borrar</button> -->
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </th:block>
</main>
<div class="button-group">
  <a href="/admin/{sociedadId}/adminsmenu" th:href="@{/admin/{sociedadId}/adminsmenu(sociedadId=${session.sociedadId})}" class="button">Volver al Menú de Administrador</a>
</div>
</body>
</html>
