<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Cambiar Contraseña</title>
  <link rel="stylesheet" href="../../static/css/styles.css" th:href="@{/css/styles.css}">
  <script th:src="@{/js/logo.js}"></script>
</head>
<body onload="updateLogo('${session.sociedadSeleccionadaId}')">
<header>
  <h1>Cambiar Contraseña</h1>
  <img id="logo" class="logo" src="" alt="Logotipo">
</header>
<main>
  <form th:action="@{/worker/{sociedadId}/password(sociedadId=${worker.sociedad.id})}" method="post">
    <div>
      <label for="oldPassword">Contraseña actual:</label>
      <input type="password" id="oldPassword" name="oldPassword" required />
    </div>
    <div>
      <label for="newPassword">Nueva contraseña:</label>
      <input type="password" id="newPassword" name="newPassword" required />
    </div>
    <div>
      <label for="confirmNewPassword">Nueva contraseña:</label>
      <input type="password" id="confirmNewPassword" name="confirmNewPassword" required />
    </div>
    <button type="submit">Guardar</button>
  </form>
</main>
<div class="button-group">
  <a href="/worker/{sociedadId}/workersmenu" th:href="@{/worker/{sociedadId}/workersmenu(sociedadId=${worker.sociedad.id})}" class="button">Volver al Menú de Trabajadores</a>
</div>
</body>
</html>
